.app{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	flex-wrap:nowrap;
	@import './menu';
	.content{
		display:flex;
		// width:900px;
		//heigth:500px;
		justify-content:flex-start;
		@import './drawer';
		.contentComponents{
			display:flex;
			justify-content:center;
			align-items:center;
			heigth:calc(100vh - 60px);
			margin:auto;
			@import './signIn';
		}
	}
}